*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{
  list-style: none;
}

body{
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.16px;
  font-family: 'Gotham-book',sans-serif;
  overflow-x: hidden;
}


input[type=text], input[type=email], textarea, select{
  color: inherit;
  width: 100%;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-bottom: 1px solid var(--color-line);
  border-radius: 0;
  padding: 0.8em 0;
}


/* :root */

