:root{
    --font-01:'Gotham-black';
    --font-02:'Gotham-book';
    --font-03:'Gotham-thin';
    --font-04:'CircularXXSub-BookSubset';
  
    --color-01: #EAE8E1;
    --color-02: #5d5d5d;
  }


$font-01:'Gotham-black';
$font-02:'Gotham-book';
$font-03:'Gotham-thin';
$font-04:'CircularXXSub-BookSubset';

$color-01: #EAE8E1;
$color-02: #5d5d5d;